<div class="row mt-5">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Income Distribution</h5>
        <canvas id="incomeChart" width="50" height="50"></canvas>
      </div>
    </div>
    <script>
      const showIncomeChart = (data) => {
        const [values, labels] = [
          Object.values(data.income_data).map((item) => item.amount),
          Object.keys(data.income_data),
        ];
        var ctxIncome = document.getElementById('incomeChart').getContext('2d');

        var incomeChart = new Chart(ctxIncome, {
          type: 'doughnut',
          data: {
            labels: labels,
            datasets: [
              {
                label: 'Income Categories',
                backgroundColor: [
                  'rgb(80,151,215)',
                  '#18bc9c',
                  'rgb(231,109, 132)',
                  'rgba(153, 102, 255, 1)',
                  '#18bc9c',
                ],
                data: values,
              },
            ],
          },
          options: {
            title: {
              display: true,
              text: 'Income Distribution (Last 3 months)',
            },
          },
        });
      };

      const getIncomeData = () => {
        fetch('/income/three_months_summary')
          .then((res) => res.json())
          .then((data) => {
            showIncomeChart(data);
          });
      };

      window.addEventListener('load', getIncomeData);
    </script>
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Source Cumulative Comparison</h5>
        <canvas id="sourceChart" width="50" height="50"></canvas>
      </div>
    </div>
    <script>
      const showSourceChart = (data) => {
        let labels = [];
        const monthsdata = [];
        let keys = null;

        for (let i = 0; i < data.cumulative_income_data.length; i++) {
          const element = data.cumulative_income_data[i];
          labels.push(Object.keys(element)[0]);
          const vals = Object.values(element)[0];
          keys = Object.keys(vals);
          monthsdata.push(Object.values(vals));
        }

        var sourceChart = document.getElementById('sourceChart');
        var dataFirst = {
          label: 'Source 1',
          data: monthsdata[0],
          lineTension: 0,
          fill: false,
          borderColor: 'rgb(80,151,215)',
        };

        var dataSecond = {
          label: 'Source 2',
          data: monthsdata[1],
          lineTension: 0,
          fill: false,
          borderColor: 'rgb(231,109, 132)',
        };

        var thirdSecond = {
          label: 'Source 3',
          data: monthsdata[2],
          lineTension: 0,
          fill: false,
          borderColor: '#18bc9c ',
        };
        var sourceData = {
          labels: keys,
          datasets: [dataFirst, dataSecond, thirdSecond],
        };

        var chartOptions = {
          title: {
            display: true,
            text: 'Source Cumulative Comparison (Last 3 months)',
          },
          legend: {
            display: true,
            position: 'top',
            labels: {
              boxWidth: 10,
            },
          },
        };

        var sourceChartInstance = new Chart(sourceChart, {
          type: 'line',
          data: sourceData,
          options: chartOptions,
        });
      };

      const getSourceData = () => {
        fetch('/expenses/last_3months_expense_source_stats')
          .then((res) => res.json())
          .then((data) => {
            showSourceChart(data);
          });
      };

      window.addEventListener('load', getSourceData);
    </script>
  </div>
</div>
