
{% block content %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lexend:wght@400;600&display=swap">

<style>
    body {
        background-color: #ffffff;
        color: #000000;
        font-family: 'Lexend', sans-serif;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        position: relative;
    }

    .logo {
        position: absolute;
        top: 48px;
        left: 48px;
        width: 106px;
        height: 36px;
        border-radius: 4px;
    }

    #login-container {
        text-align: center;
        background-color: #ffffff;
        padding: 60px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(59, 59, 59, 0.5);
    }

    #heading {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .input-text {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #1a0669;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 10px !important;
    }

    #checkbox-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .forgot-password {
        color: #1a0669;
        text-decoration: none;
        display: block;
    }

    .signin-button {
        background-color: #1a0669;
        color: #ffffff;
        padding: 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
    }

    .text-align-ignore {
        text-align: left;
        padding:10px;
    }

    .lower {
        margin-top: 20px;
    }

    .hr-divider {
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #1a0669, rgba(0, 0, 0, 0));
    }

    /* Media query for larger screens */
    @media screen and (min-width: 768px) {
        #login-container {
            padding: 80px;
        }

        .input-text {
            max-width: 400px; /* Adjust the maximum width based on your preference */
            margin: 0 auto;
        }
    }
</style>
<body>

                    <div id="login-container">
                        <div id="heading">Login to your Account</div>
                        <form class="mt-2" autocomplete="off" action="{% url 'login' %}" method="POST" autocomplete="off">
                            {% csrf_token %}
                            {% include 'partials/_alerts.html' %}

                            <div class="text-align-ignore">
                                <label for="email" class="label">Username or Email</label>
                                <input
                                    type="text"
                                    name="username"
                                    placeholder="Username or Email"
                                    class="input-text"
                                    required
                                    value="{{ values.username }}"
                                />
                            </div>

                            <div class="text-align-ignore">
                                <label for="password" class="label">Password</label>
                                <input
                                    type="password"
                                    placeholder="Password"
                                    name="password"
                                    class="input-text"
                                    required
                                    value="{{ values.password }}"
                                />
                            </div>

                            <input
                                type="submit"
                                value="Login"
                                class="signin-button mt-2"
                            />

                            <div class="lower my-3 pl-3 pr-3">
                                <div class="row">
                                    <div class="col-md-5 hr-divider"></div>
                                    <div class="col-md-2">
                                        <small class="text-muted">OR</small>
                                    </div>
                                    <div class="col-md-5 hr-divider"></div>
                                </div>
                                <a href="{% url 'register' %}" class="btn btn-block btn-sm mtl">Create an Account</a>
                                <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                <a href="{% url 'reset-password' %}" class="btn btn-block btn-sm mtr">Forgot Password</a>
                            </div>
                        </form>
                    </div>
                
</body>
{% endblock %}
